@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #070b13;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Dark Map filter */
.leaflet-tile-container img {
  filter: invert(100%) hue-rotate(180deg) brightness(85%) contrast(90%) !important;
}

.leaflet-container {
  background: #070b13 !important;
}
